node_modules/
dist/
.env
*.log
*.tmp
.DS_Store
coverage/
# Runtime data (DO NOT COMMIT)
backend/data/
backend/serverA/users/users.json

# Env
.env

**/certs/
backend/**/data/
backend/serverA/data/
backend/serverB/data/
.vscode/